In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('ous_data/data_preprocessed.csv')

In [7]:
df.shape

(27590, 41)

In [8]:
df.columns

Index(['IB3', 'IH1', 'IB2', 'IH2', 'IB1', 'IH3', 'IB4', 'IH4', 'IB5',
       'confusion', 'careless_1', 'careless_2', 'careless_3',
       'technical_problems', 'native_language', 'Q_Lang', 'religion_text',
       'religion_1', 'religion_2', 'religion_3', 'religion_4', 'religion_5',
       'religion_6', 'religion_7', 'religion_8', 'religion_9', 'religion_10',
       'religion_11', 'religion_12', 'religion_13', 'religion_14',
       'religion_15', 'religion_16', 'education_leve', 'education_level_iran',
       'education_level_germ', 'age_1', 'sex', 'countr_origin_1', 'country3',
       'Age'],
      dtype='object')

In [9]:
Q_LANG = ["EN", "ZH-S", "FR", "DE", "EL", "HU", "IT", "PL", "PT", "RO", "RU", "SK", "TR", "ES-ARG ", "CHI ", "COL-ESP ", "ES-EC ", "ESP-ESP ", "ES-MX ", "ES-PE ", "ESP-SAL ", "ES-ES", "SERB"]

In [10]:
SPANISH = { "ES-ARG": "ES",
"CHI": "ES",
"COL-ESP": "ES",
"ES-EC": "ES",
"ESP-ESP": "ES",
"ES-MX": "ES",
"ES-PE": "ES",
"ESP-SAL": "ES",
"ES-ES": "ES" }

In [11]:
df1 = df.query('careless_1 == 2 and careless_2 == 2 and careless_3 == 1 and technical_problems == 1 and native_language == 1 and confusion < 3')

In [12]:
df1.shape

(20579, 41)

In [13]:
df1.columns

Index(['IB3', 'IH1', 'IB2', 'IH2', 'IB1', 'IH3', 'IB4', 'IH4', 'IB5',
       'confusion', 'careless_1', 'careless_2', 'careless_3',
       'technical_problems', 'native_language', 'Q_Lang', 'religion_text',
       'religion_1', 'religion_2', 'religion_3', 'religion_4', 'religion_5',
       'religion_6', 'religion_7', 'religion_8', 'religion_9', 'religion_10',
       'religion_11', 'religion_12', 'religion_13', 'religion_14',
       'religion_15', 'religion_16', 'education_leve', 'education_level_iran',
       'education_level_germ', 'age_1', 'sex', 'countr_origin_1', 'country3',
       'Age'],
      dtype='object')

In [14]:
df2 = df1.query('Q_Lang in @Q_LANG')

In [15]:
df2['Q_Lang']

0        EN
2        EN
4        EN
7        EN
9        EN
         ..
27583    EL
27584    RU
27585    EN
27586    EN
27589    RU
Name: Q_Lang, Length: 17139, dtype: object

In [16]:
df2.shape

(17139, 41)

In [17]:
df2.head(50)

,IB3,IH1,IB2,IH2,IB1,IH3,IB4,IH4,IB5,confusion,careless_1,careless_2,careless_3,technical_problems,native_language,Q_Lang,religion_text,religion_1,religion_2,religion_3,religion_4,religion_5,religion_6,religion_7,religion_8,religion_9,religion_10,religion_11,religion_12,religion_13,religion_14,religion_15,religion_16,education_leve,education_level_iran,education_level_germ,age_1,sex,countr_origin_1,country3,Age
0,2,1,3,2,6,2,2,1,4,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,Doctoral degree,NaN,NaN,18.0,Male,226.0,ARE,35.0
2,4,3,2,5,4,5,1,2,3,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school,NaN,NaN,2.0,Female,131.0,MYS,19.0
4,3,5,5,6,4,5,2,4,5,1,2,2,1,1.0,1.0,EN,--/--,NaN,NaN,NaN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school,NaN,NaN,2.0,Female,131.0,MYS,19.0
7,6,2,5,2,5,2,2,1,2,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,High school,NaN,NaN,5.0,Female,195.0,MYS,22.0
9,3,2,3,4,6,4,5,5,2,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school,NaN,NaN,3.0,Female,131.0,MYS,20.0
11,6,2,5,3,5,2,7,2,7,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,High school,NaN,NaN,2.0,Female,195.0,MYS,19.0
12,2,2,7,5,6,6,7,3,7,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,High school,NaN,NaN,2.0,Female,100.0,MYS,19.0
13,5,5,6,2,7,4,6,2,6,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,2.0,Female,100.0,MYS,19.0
14,4,2,3,1,4,3,5,2,4,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,5.0,Female,131.0,MYS,22.0
15,5,7,2,6,3,7,4,7,1,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Female,131.0,MYS,20.0
16,3,5,5,5,2,5,3,6,6,1,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,1.0,Male,131.0,MYS,18.0
18,4,3,5,5,4,3,5,4,3,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,5.0,Female,131.0,MYS,22.0
19,4,4,5,5,5,4,5,4,2,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,7.0,Female,131.0,MYS,24.0
22,6,6,4,7,3,7,6,7,4,2,2,2,1,1.0,1.0,ZH-S,--/--,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
24,5,4,2,3,2,4,2,2,2,1,2,2,1,1.0,1.0,ZH-S,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,5.0,Male,44.0,CHN,22.0
26,3,2,4,3,3,6,4,3,2,1,2,2,1,1.0,1.0,ZH-S,--/--,NaN,--,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
27,5,5,2,5,3,7,3,5,2,2,2,2,1,1.0,1.0,ZH-S,--,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school,NaN,NaN,2.0,Male,44.0,CHN,19.0
28,1,1,1,1,1,7,1,1,1,1,2,2,1,1.0,1.0,ZH-S,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
29,5,5,5,5,3,2,2,4,3,1,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,10.0,Male,100.0,IND,27.0
31,6,3,2,3,6,2,2,2,2,2,2,2,1,1.0,1.0,ZH-S,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Female,44.0,CHN,20.0
32,6,2,5,4,3,5,3,5,4,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,10.0,Female,100.0,IND,27.0
34,4,4,4,6,2,5,3,4,3,1,2,2,1,1.0,1.0,ZH-S,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,5.0,Male,44.0,CHN,22.0
35,5,1,6,1,7,4,6,1,1,1,2,2,1,1.0,1.0,EN,--/--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,Master's degree,NaN,NaN,6.0,Male,100.0,IND,23.0
40,3,2,5,3,6,3,3,1,2,1,2,2,1,1.0,1.0,ZH-S,--/--,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,High school,NaN,NaN,3.0,Male,44.0,CHN,20.0
41,3,1,6,5,7,6,2,3,6,2,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,8.0,Male,100.0,IND,25.0
43,6,3,2,6,3,5,5,5,2,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,9.0,Male,100.0,IND,26.0
44,5,1,4,1,7,1,2,1,4,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,8.0,Female,100.0,IND,25.0
45,1,1,1,1,1,1,1,7,7,1,2,2,1,1.0,1.0,EN,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,7.0,Male,100.0,IND,24.0
46,6,2,6,2,6,2,6,2,2,2,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,8.0,Female,100.0,IND,25.0
47,7,6,7,7,6,7,5,6,7,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school,NaN,NaN,2.0,Female,100.0,MYS,19.0
48,5,5,6,6,6,2,4,4,6,2,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,7.0,Male,100.0,IND,24.0
49,3,2,2,2,4,6,1,5,4,1,2,2,1,1.0,1.0,ZH-S,--/--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
50,4,1,6,6,3,7,2,2,2,1,2,2,1,1.0,1.0,EN,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,10.0,Male,100.0,IND,27.0
51,1,7,1,1,7,7,1,1,1,1,2,2,1,1.0,1.0,ZH-S,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,NaN,Male,NaN,CHN,NaN
52,1,1,1,1,7,1,1,1,1,1,2,2,1,1.0,1.0,ZH-S,--/--/--,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
55,2,1,5,4,7,2,5,4,6,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Female,131.0,MYS,20.0
57,1,5,2,4,2,1,2,4,3,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,7.0,Female,100.0,IND,24.0
58,4,5,5,3,4,6,4,6,5,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,5.0,Female,131.0,MYS,22.0
59,4,1,1,5,6,4,2,2,2,1,2,2,1,1.0,1.0,ZH-S,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High school,NaN,NaN,3.0,Male,44.0,CHN,20.0
60,2,2,3,6,6,2,6,2,2,2,2,2,1,1.0,1.0,ZH-S,--,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
61,5,2,6,5,5,3,2,2,5,1,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,1.0,Female,131.0,MYS,18.0
63,4,6,4,4,7,4,5,5,5,2,2,2,1,1.0,1.0,EN,--/--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,9.0,Male,100.0,IND,26.0
64,3,1,6,4,3,4,2,1,5,1,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,8.0,Male,100.0,IND,25.0
66,1,2,1,1,1,5,2,2,1,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,9.0,Male,100.0,IND,26.0
67,1,1,1,7,3,6,6,5,1,1,2,2,1,1.0,1.0,ZH-S,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,3.0,Male,44.0,CHN,20.0
68,5,1,6,4,5,6,2,4,4,1,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,5.0,Female,131.0,MYS,22.0
69,4,2,1,5,2,4,1,3,5,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,8.0,Male,100.0,IND,25.0
72,5,1,4,5,5,3,6,3,3,2,2,2,1,1.0,1.0,EN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Master's degree,NaN,NaN,5.0,Female,100.0,IND,22.0
73,2,3,7,5,3,1,5,3,5,2,2,2,1,1.0,1.0,EN,--,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bachelor's degree,NaN,NaN,2.0,Female,64.0,MYS,19.0
74,7,4,4,7,7,5,6,4,4,1,2,2,1,1.0,1.0,ZH-S,--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,Bachelor's degree,NaN,NaN,5.0,Male,44.0,CHN,22.0

In [18]:
df2['Q_Lang'] = df2['Q_Lang'].map(lambda x: SPANISH.get(x) or x)

/var/folders/l8/kn3s865x1215_zj8rfdf3hv80000gn/T/ipykernel_16454/3691675781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Q_Lang'] = df2['Q_Lang'].map(lambda x: SPANISH.get(x) or x)

In [19]:
df2['Q_Lang'] = df2['Q_Lang'].map(lambda x: SPANISH.get(x) if x in SPANISH else x)

/var/folders/l8/kn3s865x1215_zj8rfdf3hv80000gn/T/ipykernel_16454/1082569250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Q_Lang'] = df2['Q_Lang'].map(lambda x: SPANISH.get(x) if x in SPANISH else x)

In [20]:
df2['Q_Lang'].isna().sum()

0

In [21]:
ous_IB = df2[['IB1', 'IB2', 'IB3', 'IB4', 'IB5' , 'Q_Lang']]

In [22]:
ous_IB

       IB1  IB2  IB3  IB4  IB5 Q_Lang
0        6    3    2    2    4     EN
2        4    2    4    1    3     EN
4        4    5    3    2    5     EN
7        5    5    6    2    2     EN
9        6    3    3    5    2     EN
...    ...  ...  ...  ...  ...    ...
27583    5    6    3    1    6     EL
27584    1    1    6    1    2     RU
27585    1    1    5    2    1     EN
27586    2    4    3    2    5     EN
27589    3    2    2    4    2     RU

[17139 rows x 6 columns]

In [23]:
ous_IH = df2[['IH1', 'IH2', 'IH3', 'IH4', 'Q_Lang']]

In [24]:
ous_IH

       IH1  IH2  IH3  IH4 Q_Lang
0        1    2    2    1     EN
2        3    5    5    2     EN
4        5    6    5    4     EN
7        2    2    2    1     EN
9        2    4    4    5     EN
...    ...  ...  ...  ...    ...
27583    3    3    5    5     EL
27584    1    6    2    5     RU
27585    6    1    5    5     EN
27586    5    5    4    3     EN
27589    3    5    5    3     RU

[17139 rows x 5 columns]